.nav-link.active {
    border-bottom: 2px solid rgb(184, 64, 24);
    color: rgb(184, 64, 24) !important;
}

.image {
    width: 30px;
    height: 30px;
}

li .nav-link {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.navbar_name {
    font-size: 18px;
    font-weight: bold;
    color: rgb(184, 64, 24);
    text-decoration: none;
}

.nav-item1 {
    padding-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 80px;
    height: 35px;
    border-radius: 8px;
    text-align: center;
    padding-bottom: 2px;
    text-decoration: none;
}

.nav-item1:last-of-type {
    background-color: rgb(184, 64, 24);
}

.nav-link1 {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(184, 64, 24);
}


.d-flex {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
}

.navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 80px !important;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding-top: 70px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.row h5 {
    font-size: 12px;
    font-weight: 400;
    color: rgb(164, 163, 163);
}

.click {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.click {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: inherit !important;
    cursor: pointer;
    padding: 0;
    padding-bottom: 5px;
    padding-right: 10px;
    color: rgb(184, 64, 24);
}

body:not(.dark) {
    background-color: #e1e0e0 !important;
    color: rgb(184, 64, 24);
}

.navbar:not(.dark) {
    background-color: #e1e0e0 !important;
    color: rgb(184, 64, 24);
}

.click .mode {
    width: 30px;
    height: 30px;
    color: rgb(184, 64, 24);
    padding-left: 8px !important;
}

.dark {
    background-color: #333333 !important;
    color: rgb(184, 64, 24);
}

.dark button {
    color: rgb(184, 64, 24);
}

.dark .navbar {
    background-color: #333333 !important;
    color: #ffffff !important;
}

.dark .nav-link {
    color: #ffffff !important;
}

.logout {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    cursor: pointer;
    padding: 0;
}

.icon {
    background-color: transparent !important;
    ;
}

.dropdown {
    padding-right: 20px;
    padding-bottom: 7px;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu .nav-link {
    color: black !important;
}

.dark .card {
    color: #ffffff !important;
}

.dark .card
h6{
    color: #f6d365 !important;
}
.dark .card p{
    color: #ffffff !important;
} 